[Unit]
Description=Run the LUV netconsole
After=luv-crash-handler.service
Before=klogscanner.service

[Service]
Type=oneshot
ExecStart=@SBINDIR@/luv-netconsole

[Install]
WantedBy=multi-user.target
