[Unit]
Description=Run the LUV netconsole
ConditionKernelCommandLine=!luv_netconsole=none
After=network-online.target
Wants=network-online.target
Before=klogscanner.service

[Service]
Type=oneshot
ExecStart=@SBINDIR@/luv-netconsole
StandardOutput=tty
TTYPath=LUV_TTY_CONSOLE

[Install]
WantedBy=multi-user.target
